.container {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.buttons{
    margin-top: 20px;
}

#pizzas-image{
    display: none;
}

.image-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: auto;
}
.image-preview img{
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ddd;
}

.image-preview label{
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.image-preview label:hover{
    background-color: #0056b3;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

textarea {
    height: 80px;
    resize: none;
}

.btn#editCancel{
    background-color: #dc3545;
}

.btn#editCancel:hover{
    background-color: #c82333;
}


.btn[href] {
    background-color: #17a2b8;
}
.btn[href]:hover {
    background-color: #138496;
}

.container #kakaoLogin, .container #naverLogin {
    width: 300px;
    display: block;

}
