<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0”>
    <title>피자 상세보기</title>
    <link rel=”icon” href="/css/pizza-style.css">

    <script src=”https://code.jquery.com/jquery-3.7.1.min.js></script>
</head>
<body>
<!--특정 피자 메뉴의 상세 정보를 보여줍니다.-->
<div class="container" id="container">

    <h1>피자 상세정보</h1>

    <div id="pizza-detail">
        <img class="pizza-img" src="/images/default-pizza.png" id="pizza-img">
        <p><strong>이름 : </strong><span id="pizza-name"></span> </p>
        <p><strong>가격 : </strong><span id="pizza-price"></span> </p>
        <p><strong>설명 : </strong><span id="pizza-description"></span> </p>
    </div>

    <div class="buttons">
        <a id="edit-button" class="btn" href="">수정</a>
        <button id="delete-button" class="btn">삭제</button>
        <a href="/pizzas" class="btn">목록으로 이동하기</a>
    </div>

</div>
<script>

    const params = new URLSearchParams(window.location.search);
    const id = params.get("id"); //id 키를 이용해 값을 가져오기

    $.ajax({
        url: 'api/pizzas/'+id,
        method: "GET",
        success: function (data){
            $("#pizza-name").text(data.name);
            $("#pizza-price").text(data.price);
            $("#pizza-description").text(data.description);
        },
        error: function (data){
            alert("데이터를 가져오는데 문제가 발생했습니다");
            //피자 목록으로 돌려보내기
            window.location.href = "/pizzas";
        }
    })

</script>
</body>
</html>